/* CSS Document */

.ubtn{
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-bottom:0;
    font-size:14px;
    height:38px;
    line-height:38px;
    text-align:center;
    cursor:pointer;
    background-color:#e3e3e3;
    border:1px solid #666;
    border-radius:3px;
    color:#333;
    padding:0;
    width:140px;
    text-decoration:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ubtn:hover,.ubtn:focus{color:#fff;outline:0;text-decoration:none;background-color:#ff4a00}

.ubtn.active,.ubtn:active{outline:0;background-color:#ff4a00;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15);box-shadow:inset 0 2px 4px rgba(0,0,0,.15)}
.ubtn.disabled,.ubtn[disabled]{cursor:default;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#e5e9ec;background:#ccd0d9}

.ubtn-small {
    height: 28px;
    line-height: 28px;
    width: 118px;
    font-size: 12px;
}
.ubtn-short {
    height: 38px;
    line-height: 38px;
    width: 100px;
    font-size: 14px;
}
.ubtn-short-float {
    height: 38px;
    line-height: 38px;
    width: 100px;
    font-size: 14px;
    float:right;
}

.ubtn-lineDakeLight{background-color:#fafafa;border-color:#dfdfdf;color:#333}
.ubtn-lineDakeLight:hover,.ubtn-lineDakeLight:focus,.ubtn-lineDakeLight.active,.ubtn-lineDakeLight:active{color:#333;border-color:#dfdfdf;background-color:#dfdfdf}

.ubtn-primary{background-color:#ff4a00;border-color:#ff4a00;color:#fff}
.ubtn-primary:hover,.ubtn-primary:focus,.ubtn-primary.active,.ubtn-primary:active{color:#fff;border-color:#ee330a;background-color:#ee330a}
.ubtn-primary.active{background-color:#ff3400;}

.ubtn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}



.ubtn-yellow{background-color:#ffdb3d;border-color:#ffdb3d;color:#333}
.ubtn-yellow:hover,.ubtn-yellow:focus,.ubtn-yellow.active,.ubtn-yellow:active{color:#333;border-color:#ffc700;background-color:#ffc700}

.ubtn-dake{background-color:#6d6d6d;border-color:#6d6d6d;color:#fff}
.ubtn-dake:hover,.ubtn-dake:focus,.ubtn-dake.active,.ubtn-dake:active{color:#fff;border-color:#333;background-color:#333}.ubtn-dakeLight{background-color:#f3f3f3;border-color:#f3f3f3;color:#333}
.ubtn-dakeLight:hover,.ubtn-dakeLight:focus,.ubtn-dakeLight.active,.ubtn-dakeLight:active{color:#333;border-color:#dfdfdf;background-color:#dfdfdf}




.ubtn-lineDake{background-color:#fff;border-color:#333;color:#333}
.ubtn-lineDake:hover,.ubtn-lineDake:focus,.ubtn-lineDake.active,.ubtn-lineDake:active{color:#fff;border-color:#333;background-color:#333}
.ubtn-small{height:28px;line-height:28px;width:118px;font-size:12px}

.ubtn-disabled{cursor:not-allowed;background-color:#fff;border-color:#f3f3f3;color:#f3f3f3}
.ubtn-disabled:hover,.ubtn-disabled:focus,.ubtn-disabled.active,.ubtn-disabled:active{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#f3f3f3;border-color:#f3f3f3;background-color:#fff}


.ubtn-dakeLight{background-color:#ccd0d8;border:0;color:#fff}
.ubtn-dakeLight:hover,.ubtn-dakeLight:focus{color:#fff;background-color:#d2d5dc}
.ubtn-dakeLight.active,.ubtn-dakeLight:active{background-color:#c6cad3}

.ubtn-usecoupon{background-color:#45b97c;border:0;color:#fff;float:right;}
.ubtn-usecoupon:hover,.ubtn-usecoupon:focus{color:#fff;background-color:#007947}
.ubtn-usecoupon.active,.ubtn-usecoupon:active{background-color:#005831;}
.ubtn-login{background-color:#ff5600;border:0;color:#fff;float:left;width:100%;height:32px;line-height:32px;}
.ubtn-login:hover,.ubtn-login:focus{color:#fff;background-color:#ff3400}
.ubtn-login.active,.ubtn-login:active{background-color:#ff1200}

.icon-common{
    display:inline-block;
    *display:inline;*zoom:1;
    background-image: url(../images/icon-common-mouth.png);
    background-repeat:no-repeat
}
.icon-common-close{width:18px;height:18px;background-position:0 0}
.icon-common-close:hover{width:18px;height:18px;background-position:-18px 0px;}


.xm-box {
    border: 1px solid #dfdfdf;
    background: #fff;
    _zoom: 1;
}
.xm-box .box-hd {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
}
.xm-box .box-hd .title {
    margin: 0 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #333;
}

button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
form {
    margin: 0;
}
.checkout-box {
    background: #fff;
}
.container {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{
    display:table;
    content:"";
    line-height:0
}
.clearfix:after{
    clear:both
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.xm-plain-box .box-hd {
    position: relative;
    height: 50px;
}
.xm-plain-box .box-hd .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #333;
}
.xm-plain-box .box-bd {
    border: 1px solid #dfdfdf;
    background: #fff;
}
