/* CSS Document */

/*
 * -------------------------------------------------------
 * ******************** head.css *************************
 * -------------------------------------------------------
 */
.theadicon{width:205px; height:70px; float:right; margin:15px 0 0 0px;}
.theadicon_img01{width:52px; height:61px;  background:url(../images/icon.png) no-repeat 0px -539px; float:right; margin:8px 0px 0 0px; display:inline;}
.theadicon_img02{width:52px; height:61px;  background:url(../images/icon.png) no-repeat 0px -640px; float:right; margin:10px 0px 0 12px; display:inline;}
.theadicon_img03{width:52px; height:61px;  background:url(../images/icon.png) no-repeat 0px -740px; float:right; margin:10px 0px 0 12px; display:inline;}

#topbar{
    width:100%;
    height:34px;
    background:#f7f7f7;
    z-index:100000;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    border-bottom:#c0c0c0 1px solid;
}
#topbar #topbarcontent{
    width:100%;
    height:34px;
    line-height:34px;
    max-width:1150px;
}
#topbar #topbarcontent .leftmenuinfo {
    float:left;
}
#topbar #topbarcontent .rightmenuinfo{
    width:500px;
    height:35px;
    float:right;
    text-align:right;
}
#topbar  a {
    color: #666;
    text-decoration:none;
}

#topbar  a:hover {
    color: #ff5400;
}

#topbar .rightmenuinfo .subnav li {
    float: right;
    position: relative;

}

#topbar .rightmenuinfo .subnav .z_index {
    display: block;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    background: url(../images/ico_down.png) no-repeat right;
}

#topbar .rightmenuinfo .subnav .z_index {
}

#topbar .rightmenuinfo .subnav .line {
    padding: 0 10px;
}
#topbar .rightmenuinfo .line_shopcart{
    width:60px;
    background: url(../images/shopcart.gif) no-repeat;
}
#topbar .rightmenuinfo .line_index a{
    color:#ff5600;
}
#topbar .rightmenuinfo .line_index a:hover{
    color:#ff1200;
}

#topbar .rightmenuinfo .float_list {
    width: 80px;
    padding-top: 45px;
    background-color:#f7f7f7;
    position: absolute;
    top: -6px;
    left: 3px;
    display: none;
    border:#c0c0c0 1px solid;
    height:70px;
}
#topbar  #float_list_category{
    display:none;
}
#topbar .rightmenuinfo  .business_float_list{
    height:100px;
}


#topbar .rightmenuinfo .float_list li {
    width: 66px;
    height:33px;
    text-align:left;
    padding-left:14px;
}

#mainnavbar{
    width:100%;
    height:46px;
    z-index:80000;
    position:relative;
}

#mainnavbar #mainnavbarcontent{
    width:1150px;
    height:46px;
    line-height:46px;
}
#mainnavbar #mainnavbarcontent .leftmenuinfo {
    float:left;
    width:100%;

}
#mainnavbar #mainnavbarcontent .rightmenuinfo{
    float:right;
}

#mainnavbar .leftmenuinfo .subnav #select_list {
    width:210px;
    color:#fff;
}
#mainnavbar .leftmenuinfo .subnav {
    height:46px;
    background-color:#ff5600;
}
#mainnavbar .leftmenuinfo .subnav li {
    float: left;
    position: relative;
    font-size: 16px;
    color:#fff;
}

#mainnavbar .leftmenuinfo .subnav .z_index {
    display: block;
    position: relative;
    width:210px;
    height:46px;
    z-index: 1;
    color:#fff;
    text-decoration:none;

}


#mainnavbar .tri{
    width:9px;height:5px;
}

#mainnavbar .hover a{
    display: block;
    color: #fff8f6;
    text-decoration: none;
    background-color: #ff3600;
}

#mainnavbar .hover span {
    display: block;
    padding-left:20px;
    padding-right:20px;
}

#mainnavbar .link a{
    display: block;
    color: #fff8f6;
    text-decoration: none;
    background-color: #ff5600;
}
#mainnavbar .link a:hover{
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-color: #ac3d04;
}


#mainnavbar .link span {
    display: block;
    padding-left:20px;
    padding-right:20px;
}
#head {
    width: 1150px;
    height: 100px;
    margin: 0px auto;
    position:relative;
    z-index:90000;
}
#head h1 {
    float: left;
}
#head h1 a{
    width:350px;
    height:100px;
    border:0;
    display:block;
    overflow:hidden;
    text-decoration:none;
}
/** search css begin **/
#head .mainsearch{
    float:right;
    width:456px;
    height:42px;
    padding:2px;
    margin-top:30px;
}

#head .mainsearch #divsearch{
    position:relative;
    /**
    border:#dfdfdf 2px solid;height:36.6px;
    **/
}
#head .mainsearch #divsearch_left{
    /**
    border:#dfdfdf 2px solid;height:36.6px;
    **/
}
#head .mainsearch #divsearch_left .searchtype{
    position:relative;z-index:10;height:100%;
}
#head .mainsearch #divsearch_left .searchtype .searchtypeul{
    list-style:none;height:auto;

}


#head .mainsearch .searchtype{
    height:42px;
    width:70px;
    float:left;
    line-height:42px;
}
#head .mainsearch .searchinput{
    height:42px;
    width:318px;
    float:left;

}
#head .mainsearch .searchtype #searchgood{
    background:url(../images/search_type_normal.png)  #f5f9f9 no-repeat  ;
    background-position-y:40%;
}
#head .mainsearch .searchtype #searchgood:hover{
    background:url(../images/search_type_focus.png)  #c0c0c0 no-repeat  ;
    background-position-y:40%;
}
#head .mainsearch .searchtype p{
    background-color:#f5f9f9;
    color:#8a8c8e;
    cursor:pointer;
    padding-right:10px;
}
#head .mainsearch .searchtype p:hover,#head .mainsearch .searchtype p:focus{
    color:#74787c;
    background-color:#c0c0c0;
}

#head .mainsearch .textsearchinput {
    width: 310px;
    height:16px;
    line-height: 16px;
    font-size: 16px;
    padding:13px 0 13px 8px;
    vertical-align: middle;
    font-family: 微软雅黑, Verdana, Tahoma, Lucida Grande;
    color: #666;
    border:0px;
    outline:none;
    margin:0px;
}
#head .mainsearch .textsearchinput:focus{
    box-shadow:inset 0 0 4px #eaeaea;
    background:#fefefe;
}

#head .mainsearch #divsearchbt{
    float:right;
    cursor:pointer;
    background-color:#fff;
    width:68px;
    height:42px;
    border:none;
    padding:0px;
    margin:0px;
    display:block;
    overflow:hidden;
}
#head .mainsearch .searchbut #submit{
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    display:block;
    background-color:#ffffff;
    background-image: url(../images/search_btn.png);
    background-repeat: no-repeat;
    background-position-x:70%;
    cursor:pointer;
    border-radius:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#head .mainsearch .hotword{
    margin-top:6px;
}
#head .mainsearch .hotword a {
    color:#666;
    text-decoration:none;

}
#head .mainsearch .hotword a:hover {
    color: #ff5400;
    text-decoration:none;
}
/** search css end **/
/** commitmentarea css begin **/
#head .headercart {
    width:220px;
    float: right;
    height:46px;
    position:relative;

}
#head .flow_cart {
    float: right;
    position:relative;
    height:50px;
    width:420px;
    padding-top:40px;

}
#head .flow_item{
    width:140px;height:30px;
    background:#c0c0c0;
    float:left;
    line-height:30px;
    text-align:center;
    color:#fff;
}
#head .item_center{
    width:138px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
}
#head .cart-section{
    position: relative;
    height:46px;
    width:136px;
}

#head  .mini-cart {
    position: relative;
    z-index: 100002;
    width:116px;
    height:20px;
    display: block;
    padding: 11px 10px;
    text-align: center;
    color: #333;
    background: #ffba00;
    border:2px solid #ffba00;
    font-size:14px;
}
#head  .mini-cart-on {
    width:116px;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 25px;
    border:2px solid #ffba00;
    border-bottom: none;
    color: #ff4a00;
    background: #fff;
    display:block;
    font-size:14px;
}


#head  .mini-cart-list {
    display:none;
    width: 294px;
    position: absolute;
    top: 56px;
    left: -200px;
    border: 2px solid #ffba00;
    padding:21px;
    background:#fff;
    z-index: 100001;
}
#head .cart-section  .mini-cart-list li {
    border-bottom: 1px solid #dfdfdf;
    color: #333;
}
#head .cart-section .mini-cart-list li .pic {
    float: left;
    width: 65px;
    padding: 3px 0;
}
#head .cart-section .mini-cart-list li .name {
    float: left;
    width: 110px;
    height: 34px;
    margin: 15px 0 0 10px;
    overflow: hidden;
    _zoom: 1;
}
#head .cart-section .mini-cart-list li .price {
    float: left;
    width: 80px;
    height: 36px;
    padding: 15px 0;
    text-align: right;
}
#head .cart-section .mini-cart-list li .btn-del {
    float: right;
    margin: 15px 11px 0 0;
}
#head .cart-section  .mini-cart-list .count{
    padding-top:20px;
}
#head .cart-section  .mini-cart-list .count .total {
    float: left;
    color: #c3c3c3;
}
#head .cart-section  .mini-cart-list .count .total strong em {
    font-style: normal;
    color: #ff4a00;
}
#head .cart-section .mini-cart-list li .pic img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: 0;
    padding-top:10px;
}
#head .cart-section .mini-cart-list .count .ubtn {
    float: right;
    color:#ffffff;
}
.headercart a{
    color:#454545;
    text-decoration:none;
}
.headercart a:hover{
    color:#ff5600;
    text-decoration:none;
}


.cart-section #cart-section-content{
    width:70px;height:14px;
    text-align:right;
    background:url(../images/shop_cart.png) no-repeat;
}

#head .commitmentarea .tempcontrol{
    width:100%;height:80px;
    margin-top:20px;
}
#head .commitmentarea .tempcontrol .commitment {
    float: left;
    width:80px;
    height:60px;
    cursor:pointer;
}
#head .commitmentarea .tempcontrol .commitment a{
    text-decoration:none;
    color:#666;
    font-size:12px;
}
#head .commitmentarea .tempcontrol .commitment a:hover{
    color: #ff5400;
}

/** commitmentarea css end **/


#mainnavbar .leftmenuinfo .float_list {
    width: 210px;
    height:369px;
    display: block;
    position:absolute;
    z-index:1;
    top:46px;
    left:0;

}

/* begin 商品菜单联动 */

.module_common_category {
    clear: both;
}

#AllSort{
    text-align:left;
    position:relative;
    z-index:200;
    font-size:14px;

}
#AllSort dl a{color:#974c19;;text-decoration: none;}
#AllSort dl a:hover{COLOR: #ff5400;}

#AllSort dl{
    width:210px;
    overflow:hidden;
}
#AllSort dt{
    width:210px;
    height:40px;
    line-height:36px;
    padding:0px 5px 0px 16px;
    overflow:hidden;
    cursor:default;
    background:url(../images/type_arrow_right.png) no-repeat 192px #fff9e3;
    border-bottom:#f4edd9 1px solid;
}
#AllSort dt span{color:#999;display:block;width:140px;padding-right:5px;height:21px;float:right;overflow:hidden;}
*html #AllSort dt span{padding-right:4px;}
#AllSort .Dis{display:block;}
#AllSort .noDis{display:none;}
#AllSort .curr{
    height:36px;
    line-height:36px;
    padding-left:16px;
    background:url(../images/type_arrow_right_focus.png) no-repeat 192px #f8efcd;
}
#AllSort .curr span{display:none;}
#AllSort dd{
    background:#ffffff;
    width:195px;
    padding:5px 5px 5px 9px;
    overflow:hidden;cursor:default;

}
#AllSort dd span,#AllSort div span{line-height:34px; display:block;width:140px;padding-left:8px;padding-top:8px; float:left;}

.viewall{text-align:right;padding:10px 10px 0;}

.pop_wrap{left:203px;position:absolute;z-index:999;width:338px;
    margin-top:0px;margin-left:7px;
    display:none;font-size:14px;border:#f4edd9 1px solid;border-left:hidden;
}

.pop{padding:0px 8px;width:300px;overflow:hidden;background: #f8efcd;line-height:22px;padding-bottom:8px;padding-left:30px;}
.husked{float:right;text-align:left;width:249px;padding:0px 3px 0px 0px;overflow:hidden;margin-top:0px;}



/* end 商品菜单联动 */

/*
* -------------------------------------------------------
* ******************** 头部广告 *********************
* -------------------------------------------------------
*/
#divfirstpagetopad{
    width:100%px;
    min-height:80px;
    position:relative;
    z-index:100;
}
#divfirstpagetopadclose{
    width:10px;
    height:10px;
    position:absolute;
    z-index:200;
    top:35px;
    left:1130px;
    cursor:pointer;
}
.closemouseout {
    background-image: url(../images/close_frame_deep_focus.png);
}
.closemouseover {
    background-image: url(../images/close_frame_deep.png);
}

/*
 * -------------------------------------------------------
 * ******************** end head.css *********************
 * -------------------------------------------------------
 */
.newmsg{
    color:#FF3400;font-weight:bold;
}
/*当前路径*/
.cur_path{
    text-align:left;
    padding-left:20px;
    margin-bottom:8px;color:#666;
}
.cur_path a{
    color:#666;
    text-decoration:none;
}
.cur_path a:hover{
    color:#ff3400;
    text-decoration:none;
}